/* MAIN PRODUCTOS  */

.main-productos {
    @include gridcolumns(grid, 1.5fr 1.5fr);
    background-color: nth($coloresbackground,5);
    background: linear-gradient(310deg, rgba(43,41,40,1) 38%, rgba(18,17,17,1) 87%);
    
    #container-grande-productos {
        @include flex(flex,wrap);
        row-gap: 3rem;
        justify-content: space-around;
        align-items: center;
        grid-area: productos;
        margin-bottom: 10px;

        .container-card-productos {
            padding: 20px;
            margin: 2px 0;
            margin-bottom: -1px;
            width: 24%;
            box-sizing: border-box;
                 
            img {
                width: $width100x100;
                border: 2px solid #000000;
                box-shadow: 0px 0px 4px #000;
            }

            section {
                width: $width100x100;
                margin: 20px 0;
                text-align: map-get($map: $text, $key:centrar-texto );

                h3 {
                    color: #fff;
                    padding-bottom: 9px;
                    width: 100%;
                    text-transform: uppercase
                    
                }

                a {
                    @extend %button-productos;
                }
            }
        }
    }
    
}

/* FIN MAIN PRODUCTOS  */

// Mobile chiquito

@media only screen and (max-width: 300px) {

    /* Main Productos */

    .main-productos {

        .container-card-productos__section a.btn.btn-primary {
            padding: 13px;
            width: 60%;
        }
    }

    /* Fin main productos */
}

// Tablet desing

@media only screen and (max-width: 1490px) {

    /* MAIN PRODUCTOS */

    .main-productos {
    

        #container-grande-productos {
            @include gridcolumns(grid,repeat(3, 1fr));

            .container-card-productos {
                width: $width100x100 !important;
                padding: 20px;
                margin: 2px 0;
                margin-bottom: -1px;
            
                img {
                    width: $width100x100;
                    border: 2px solid #000000;
                    box-shadow: 0px 0px 4px #000;
                }

                section {
                    width: $width100x100;
                    margin: 20px 0;
                    text-align: map-get($map: $text, $key:centrar-texto );

                    
                    h3 {
                        color: #fff;
                        padding-bottom: 9px;
                    }

                    a {
                        width: 50%;
                    }
                }
            }
        }
    }
    /* FIN MAIN PRODUCTOS  */
}

@media only screen and (max-width: 1008px) {

    /* MAIN PRODUCTOS */

    .main-productos {
        padding-top: 110px;

        #container-grande-productos {
            @include gridcolumns(grid, repeat(2, 50%));

            .container-card-productos {
                width: 50%;
                padding: 20px;
                margin: 2px 0;
                margin-bottom: -1px;
            
                img {
                    width: $width100x100;
                    border: 2px solid #000000;
                    box-shadow: 0px 0px 4px #000;
                }

                section {
                    width: $width100x100;
                    margin: 20px 0;
                    text-align: map-get($map: $text, $key:centrar-texto );

                    
                    h3 {
                        font-size: 1.4rem;
                        color: #fff;
                        padding-bottom: 9px;
                    }

                    a {
                        font-size: 1rem;
                        padding: 10px;
                        width: 50%;
                    }
                }
            }
        }
    }
    /* FIN MAIN PRODUCTOS  */
}

// Mobile Design

@media only screen and (max-width: 600px) {

    /* MAIN PRODUCTOS */

    .main-productos {
        padding-top: 110px;

        #container-grande-productos {
            display: block !important;

            .container-card-productos {
                @include flex(flex,wrap);
                padding: 20px;
                margin: 2px 0;
                margin-bottom: -1px;
                width: $width100x100;

                img {
                    width: $width100x100;
                    border: 2px solid #000000;
                    box-shadow: 0px 0px 4px #000;
                }

                section {
                    width: $width100x100;
                    margin: 20px 0;
                    text-align: map-get($map: $text, $key:centrar-texto );

                    h3 {
                        color: #fff;
                        padding-bottom: 9px;
                    }

                    a {
                        width: 50%;
                    }
                }
            }
        }
    }

/* FIN MAIN PRODUCTOS  */
}