/* MAIN SUCURSALES */

.main-sucursales {
    background-color: nth($coloresbackground,12);
    padding-bottom: 0;
    
    .container-imagen-sucursales {
        background-image: url(../img/jonathan-borba-5G9uIkAXLSc-unsplash.jpg);
        @include backgroundimage(no-repeat, cover, center center);
        height: 100vh;
        opacity: .4;

        img {
            display: none;
        }
    }
    
    .sucursales-container {
        @include flex(flex,wrap);
        width: 80%;
        margin: 100px 10% 0;
        background-color: nth($coloresbackground,13);
        color: rgb(255, 255, 255);
        position: absolute;
        top: 25%;
        text-align: map-get($map: $text, $key:centrar-texto );
        padding: 20px;
        border-radius: 40px;
        opacity: .9;

        .sucursales-container__div {

            h1 {
                margin-top: -10px;
                width: $width100x100;
                color: #fff;
                text-align: map-get($map: $text, $key:centrar-texto );
                text-transform: uppercase;
            }

            width: $width100x100;
        
            h2 {
                font-weight: 700;
                text-decoration: underline;
            }

            p {
                width: $width100x100;
            }
        }

        .sucursales-container__iframe {
            width: $width100x100;

            iframe {
                width: $width100x100;
                height: 200px;
                border-radius: 9px;
            }
        }
    }
}

/* FIN MAIN SUCURSALES */

.footer-sucursales {
    padding-top: 16px;
   }

// Mobile chiquito

@media only screen and (max-width: 350px) {

    /* Main sucursales */

    .main-sucursales {
        
        .sucursales-container {
            @include flex(flex,wrap);
            margin: 10px 10% 0;

            h1 {
                margin-top: -10px;
                width: $width100x100;
                color: #fff;
                text-align: map-get($map: $text, $key:centrar-texto );
                text-transform: uppercase;
            }

            div {
                width: $width100x100;

                h2 {
                    font-weight: 700;
                    text-decoration: underline;
                }

                p {
                    width: $width100x100;
                }
            }
          
            iframe {
                width: $width100x100;
                height: 300px;
                border-radius: 9px;
            }   
        }
    }   

    /* Fin main sucursales */

}


// Tablet desing

@media only screen and (max-width: 1000px) {

    /* MAIN SUCURSALES */

    .main-sucursales {
        
        .sucursales-container {
            @include gridcolumns(grid !important,50% 50%);
            margin: 30px 10% 0;
            padding: 20px;
            height: 70%;
            top: 20%;   

            .sucursales-container__div {

                h1 {
                    font-size: 1.8rem;
                    margin-top: 10px;
                    width: $width100x100;
                    color: #fff;
                    text-align: map-get($map: $text, $key:centrar-texto );
                    text-transform: uppercase;
                }     

                width: $width100x100;

                h2 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    text-decoration: underline;
                }

                p {
                    font-size: 1.1rem;
                    width: $width100x100;
                    font-weight: 300;
                }

            }
            
            .sucursales-container__iframe {

                iframe {
                    width: $width100x100;
                    height: 90% !important;
                    padding: 7px;
                    border-radius: 37px;
                }
        
            }
        }
    }

   /* FIN MAIN SUCURSALES */

   .footer-sucursales {
    padding-top: 16px;
   }

    @media only screen and (max-height: 700px) {
        
        .main-sucursales {

            .sucursales-container {
    
                .sucursales-container__div {
    
                    h1 {
                        font-size: 1.5rem;
                    }     
    
                    width: $width100x100;
    
                    h2 {
                        font-size: 1.4rem;
                        font-weight: 700;
                        text-decoration: underline;
                    }
    
                    p {
                        font-size: .9rem;
                        width: $width100x100;
                        font-weight: 300;
                    }
    
                }

                @media only screen and (max-width: 380px) {
                
                    .sucursales-container__iframe {
                        
                        iframe {
                            display: none;
                        }
                    }
                } 
            }
        }
    }
}

// Mobile Design

@media only screen and (max-width: 600px) {

    /* MAIN SUCURSALES */

    .main-sucursales {

        .sucursales-container {
            @include flex(flex !important, wrap);
            margin: 30px 10% 0;
            height: 80%;
            top: 13%;

            .sucursales-container__div {

                h1 {
                    margin-top: -10px;
                    width: $width100x100;
                    color: #fff;
                    text-align: map-get($map: $text, $key:centrar-texto );
                    text-transform: uppercase;
                }        

                width: $width100x100;

                h2 {
                    font-weight: 700;
                    text-decoration: underline;
                }

                p {
                    font-size: 1rem;
                    width: $width100x100;
                }
            }
        }

        .sucursales-container__iframe {

            iframe {
                width: $width100x100;
                height: 700px !important;
                border-radius: 9px;
            }
        }
    }
   /* FIN MAIN SUCURSALES */
}